.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  width: 80px;
}

.profile-name {
  font-family: 'Roboto';
  font-size: 18px;
}

.role {
  font-family: 'Roboto';
  margin-top: 0px;
  font-size: 14px;
}
